
.cardWheater{
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.248);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.796);
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.cardWheater:hover{
    transition-duration: 1000ms;
    padding-left: 40px;
    padding-right: 40px;
    color: rgb(0, 0, 0);

}

.cardInput{
    border-radius: 5px;
    background-color:  rgba(255, 255, 255, 0.796);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.248);
    padding: 10px;
    
}


